#Title {
    position: absolute;
    height: 30vh;
    width: 30%;
    right: 40vw;
    top: 6vh;
    cursor: pointer;
    padding: 0;
    margin: auto;
   
}
#bod {
    position: relative;
    background-color: rgb(255, 140, 169);
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100vw;
    min-width: 12vw;
    margin: auto;
  
}
#kma {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 40vh;
    right: -1.5vw;
    top: 6vh;
    cursor: grabbing;
    margin: auto;
    
}
#kma:hover {
    width: 130%;
    height: 50vh;
    right: -5.5vw;
    top: 5vh;
}
#clicks {
    background: border-box white;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 0, 98);
    position: absolute;
    top: 40.5vh;
    right: 50.6vw;
    margin: auto;
}
#d {
    width: 25%;
    height: 430px;
    position: relative;
    margin: auto;
    background-color: rgb(255, 191, 205);
    border: 6px rgb(138, 0, 23);
    border-style: solid;
    border-radius: 10px;
    right: 2vw;
    top: 42.5vh;
    cursor: grab;
}
#seta {
    position: absolute;
     width: 20%;
     height: 110px;
     left: 0px;
     top: 0px;
     margin: auto;
}
#seta:hover {
    width: 22%;
    height: 150px;
    left: -15px;
    top: 0px;
}
#menu {
    position: absolute;
    height: 170%;
    width: 20%;
    background-color: rgb(41, 41, 41);
    border: 5px white;
    border-style: solid;
    border-radius: 10px;
    top: 50px;
    display: none;
}
#first {
    background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#first:hover {
    background-color: rgb(255, 147, 223);
}
#second {
     background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#second:hover {
background-color: rgb(255, 147, 223);
}
#third {
     background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
} 
#third:hover {
   background-color: rgb(255, 147, 223); 
}
#forth {
 background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#forth:hover {
    background-color: rgb(255, 147, 223);
}
#fifthy {
    background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
#fifthy:hover {
   background-color: rgb(255, 147, 223); 
}
#delay1 {
     background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}
#delay1:hover {
   background-color: rgb(255, 147, 223);  
}
#aclicker1 {
    background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#aclicker1:hover {
    background-color: rgb(255, 147, 223); 
}
#addclick {
    width: 5%;
    height: 5%;
    margin-left: 70px;
    margin-top: 10px;
}
#rdelay {
     width: 10%;
    height: 10%;
    margin-left: 70px;
}
#aclickicon {
    width: 10%;
    height: 10%;
    margin-left: 70px;
}
#aclicker2 {
    background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#aclicker2:hover {
    background-color: rgb(255, 147, 223); 
}
#aclicker3 {
     background-color: rgb(189, 19, 132);
    color: white;
    border: 5px rgb(253, 197, 206);
    border-radius: 10px;
    border-style: solid;
    width: 42%;
    margin-left: 24%;
    justify-items: center center;
    justify-content: center center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#aclicker3:hover {
    background-color: rgb(255, 147, 223); 
}
#acbutton {
    cursor: pointer;
    position: relative;
    width: 3%;
    height: 57px;
    border: 3px;
    border-style: solid;
    border-radius: 1000px;
    background-color: rgb(255, 0, 0);
    left: 62%;
    top: 320px;
    display: none;
    
}
#clickimg {
position: absolute;
    left: -10%;
    top: -10%;
    height: 70px;
    width: 120%;
}